<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.campingsmore.order.cart.CartMapper">
    <select id="selCart">
        SELECT A.icart, B.pic, B.name, B.price, A.quantity
        FROM cart A
        INNER JOIN item B
        ON A.iitem = B.iitem
        WHERE A.iuser = #{iuser}
    </select>

    <insert id="insCart" useGeneratedKeys="true" keyProperty="icart">
        INSERT INTO cart
        SET
        iuser = #{iuser},
        iitem = #{iitem}
        <if test=" quantity >= 1">
        , quantity = #{quantity}
        </if>
    </insert>

    <delete id="delCart">
        DELETE FROM cart
        WHERE icart = #{icart}
    </delete>

</mapper>