<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.campingsmore.order.payment.PayMapper">

    <insert id="insPayInfo">
        INSERT INTO `order`
        (iuser, address, address_detail, total_price, shipping_price, shipping_memo)
        VALUES
        (#{iuser}, #{address}, #{addressDetail}, #{totalPrice}, #{shippingPrice}, #{shippingMemo})
    </insert>

    <insert id="insPayDetailInfo">
        INSERT INTO `order_item`
        (iorder, iitem, price, quantity, total_price)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            ((SELECT iorder FROM `order` order BY iorder DESC LIMIT 0,1),
            #{item.iitem},
            (SELECT price FROM item WHERE iitem=#{item.iitem}),
            #{item.quantity},
            #{item.totalPrice})
        </foreach>
    </insert>

    <select id="selPaymentComplete">
        SELECT address, address_detail addressDetail, shipping_memo shippingMemo, total_price totalPrice
        FROM `order`
        WHERE iorder = #{iorder}
        AND del_yn = 1
    </select>


    <resultMap id="paymentDetailAllList" type="SelPaymentDetailDto">
        <id property="iorder" column="iorder"/>
        <collection property="itemList" column="{iorder=iorder}" select="selPaymentDetailAll2"/>
    </resultMap>

    <select id="selPaymentDetailAll1" resultMap="paymentDetailAllList">
        SELECT iorder
        FROM `order`
        WHERE iuser = #{iuser}
        AND del_yn = 1
    </select>

    <select id="selPaymentDetailAll2" resultType="PaymentDetailDto2">
        SELECT B.iitem, B.`name`, A.price, A.total_price totalPrice, B.pic, C.created_at paymentDate
        FROM order_item A
        INNER JOIN item B
        ON A.iitem = B.iitem
        INNER JOIN `order` C
        ON A.iorder = C.iorder
        WHERE C.iorder = #{iorder}
        AND A.del_yn = 1
    </select>

    <select id="selPaymentPageItemList">
        <foreach collection="list" item="item" index="index" separator="UNION">
            SELECT A.iitem, B.name, B.price, A.quantity, B.pic
            FROM cart A
            INNER JOIN item B
            ON A.iitem = B.iitem
            WHERE A.icart = #{item}
        </foreach>
    </select>

    <select id="selPaymentPageItem">
        SELECT iitem, `name`, price, pic
        FROM item
        WHERE iitem = #{iitem}
    </select>

    <update id="delPaymentDetail">
        UPDATE `order_item`
        SET del_yn = 0
        WHERE iorder = #{iorder}
        AND iitem = #{iitem}
    </update>

    <select id="selDetailedItemPaymentInfo">
        SELECT A.iitem, C.name, A.price, A.quantity,
        A.total_price totalPrice, C.pic, B.created_at paymentDate,
        B.address, B.address_detail addressDetail,
        B.shipping_price shippingPrice, B.shipping_memo shippingMemo
        FROM order_item A
        INNER JOIN `order` B
        ON A.iorder = B.iorder
        INNER JOIN item C
        ON A.iitem = C.iitem
        WHERE B.iorder = #{iorder}
        AND A.iitem = #{iitem}
    </select>


    <insert id="insAddress">
        INSERT INTO shipping_address
        SET iuser = #{iuser}
        ,address = #{address}
        ,address_detail = #{addressDetail}
        ,name = #{name}
        ,phone = #{phone}
    </insert>

    <select id="selUserAddress">
        SELECT user_address userAddress, user_address_detail userAddressDetail, name, phone
        FROM user
        WHERE iuser = #{iuser}
        AND del_yn = 1
    </select>

    <select id="selAddressList">
        SELECT iaddress, address, address_detail addressDetail, name, phone
        FROM shipping_address
        WHERE iuser = #{iuser}
    </select>

    <select id="selOneAddress">
        SELECT iaddress, address, address_detail addressDetail, name, phone
        FROM shipping_address
        WHERE iuser = #{iuser}
        AND iaddress = #{iaddress}
    </select>

    <select id="paymentDetailNullCheck">
        SELECT iorder
        FROM order_item
        WHERE iorder = #{iorder}
    </select>

    <update id="delOrder">
        UPDATE order
        SET
        iorder = #{iorder}
        AND del_yn = 0
    </update>
    
    <delete id="delAddress">
        DELETE FROM shipping_address
        WHERE iaddress = #{iaddress}
    </delete>
</mapper>