<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.campingsmore.order.payment.PayMapper">


    <insert id="insPayInfo">
        INSERT INTO `order`
        (iuser, address, address_detail, total_price, shipping_price, shipping_memo)
        VALUES
        (#{iuser}, #{address}, #{addressDetail}, #{totalPrice}, #{shippingPrice}, #{shippingMemo})
    </insert>

    <insert id="insPayDetailInfo">
        INSERT INTO `order_item`
        (iorder, iitem, price, quantity, total_price)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            ((SELECT iorder FROM `order` order BY iorder DESC LIMIT 0,1),
            #{item.iitem},
            (SELECT price FROM item WHERE iitem=#{item.iitem}),
            #{item.quantity},
            #{item.totalPrice})
        </foreach>
    </insert>


    <select id="selPaymentComplete">
        SELECT address, address_detail addressDetail, shipping_memo shippingMemo, total_price totalPrice
        FROM `order`
        WHERE iorder = #{iorder}
    </select>


    <resultMap id="paymentDetailAllList" type="SelPaymentDetailDto">
        <id property="iorder" column="iorder"/>
        <collection property="itemList" column= "{iorder=iorder}" select="selPaymentDetailAll2"/>
    </resultMap>

    <select id="selPaymentDetailAll1" resultMap="paymentDetailAllList">
        SELECT A.iorder, A.iuser, A.address, A.address_detail addressDetail, A.total_price totalPrice, A.shipping_price shippingPrice, A.shipping_memo shippingMemo
        FROM `order` A
        WHERE iuser = #{iuser}
    </select>

    <select id="selPaymentDetailAll2" resultType="PaymentDetailDto">
        SELECT B.iitem, B.name, A.price, A.quantity, A.total_price totalPrice, B.pic
        FROM order_item A
        INNER JOIN item B
        ON A.iitem = B.iitem
        WHERE iorder = #{iorder}
    </select>

    <select id="selPaymentPageItemList">
        <foreach collection="list" item="item" index="index" separator="UNION">
        SELECT A.iitem, B.name, B.price, A.quantity, B.pic
        FROM cart A
        INNER JOIN item B
        ON A.iitem = B.iitem
        WHERE A.icart = #{item}
        </foreach>
    </select>

    <select id="selPaymentPageItem">
        SELECT iitem, `name`, price, pic
        FROM item
        WHERE iitem = #{iitem};
    </select>
</mapper>