<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.campingsmore.community.board.BoardMapper">
    <insert id="insBoard" useGeneratedKeys="true" keyProperty="iboard">
        insert into board
        (iuser,icategory,title, ctnt)
        values
        (#{iuser}, #{icategory}, #{title},#{ctnt})
    </insert>

    <insert id = "insBoardPic">
        insert into board_image
        (iboard, pic)
        values
        <foreach collection="list" item="item" separator=",">
           (#{item.iboard}, #{item.pic})
        </foreach>
    </insert>
    <select id="selMyBoard">
        select icategory,title,created_at createdat,board_view boardview
        from board
        where iuser = #{iuser} and del_yn = 1
    </select>
    <update id="delBoard">
        update board
        set del_yn=0
        where iboard=#{iboard}
    </update>
    <select id="selBoardList">
        select A.icategory,B.name,A.title,A.ctnt,A.created_at createdat,A.board_view boardview
        from board A
        inner join user B
        on A.iuser = B.iuser
        order by A.iboard desc
        limit #{startIdx},#{row}
    </select>
    <select id="maxBoard">
        select count(iboard)
        from board
    </select>
    <select id="categoryBoardList">
        select A.icategory,B.name,A.title,A.ctnt,A.created_at createdat,A.board_view boardview
        from board A
        inner join user B
        on A.iuser = B.iuser
        where A.icategory=#{icategory}
        order by A.iboard desc
        limit #{startIdx},#{row}

    </select>

</mapper>