<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.campingsmore.community.board.BoardMapper">
    <insert id="insBoard" useGeneratedKeys="true" keyProperty="iboard">
        insert into board
        (iuser,icategory,title, ctnt)
        values
        (#{iuser}, #{icategory}, #{title},#{ctnt})
    </insert>

    <insert id = "insBoardPic">
        insert into board_image
        (iboard, pic)
        values
        <foreach collection="list" item="item" separator=",">
           (#{item.iboard}, #{item.pic})
        </foreach>
    </insert>
    <insert id="insBoardOnePic">
        insert into board_image
        set iboard =#{iboard}
        ,pic =#{pic}
    </insert>
    <delete id="delWriteBoard">
        DELETE
        FROM board
        WHERE iboard = #{iboard}
    </delete>
    <delete id="delPicBoard">
        delete
        from board_image
        where iboard=#{iboard}
    </delete>

    <update id="updBoardMain">
        update board
        set title = #{title}
        ,icategory =#{icategory}
        ,ctnt = #{ctnt}
        ,iuser = #{iuser}
        where iboard =#{iboard} and iuser=#{iuser}
    </update>
    <select id="selMyBoard">
        select iboard, icategory,title,created_at createdat,board_view boardview
        from board
        where iuser = #{iuser} and del_yn = 1
    </select>
    <update id="delBoard">
        update board
        set del_yn=0
        where iuser=#{iuser} and iboard=#{iboard}
    </update>
    <select id="selBoardList">
        SELECT A.iboard, A.icategory, B.name, A.title, A.ctnt, A.created_at AS createdat, A.board_view AS boardview
        FROM board A
        INNER JOIN user B ON A.iuser = B.iuser
        WHERE A.del_yn = 1 and A.title != ''
        ORDER BY A.icategory = 1 DESC, A.iboard DESC
        LIMIT #{startIdx}, #{row}
    </select>
    <select id="maxBoard">
        select count(iboard)
        from board
        where title != ''
    </select>
    <select id="maxSelBoard">
        SELECT COUNT(A.iboard)
        FROM (
        SELECT x.iboard
        FROM board x
        INNER JOIN user y ON x.iuser = y.iuser
        WHERE x.title LIKE CONCAT('%', #{title}, '%') AND x.del_yn = 1
        ) A
    </select>
    <select id="categoryBoardList">
        select A.iboard,A.icategory,B.name,A.title,A.ctnt,A.created_at createdat,A.board_view boardview
        from board A
        inner join user B
        on A.iuser = B.iuser
        where A.icategory=#{icategory}
        order by A.iboard desc
        limit #{startIdx},#{row}
    </select>
    <select id="selBoard">
        select A.iboard,C.icategory, C.name category, A.title, B.name, A.created_at createdat, A.board_view boardview
        from board A
        inner join user B
        on A.iuser = B.iuser
        inner join board_category C
        on A.icategory = C.icategory
        where A.title LIKE CONCAT('%', #{title}, '%') and A.del_yn = 1 and title !=''
        order by A.icategory asc,A.iboard desc
        limit #{startIdx},#{row}
    </select>

    <select id="deBoard">
        SELECT A.iboard,A.iuser,C.name, D.name category, A.title, A.ctnt,  A.created_at createdat,A.board_view boardview
        FROM board A
        LEFT JOIN user C
        ON A.iuser = C.iuser
        LEFT JOIN board_category D
        ON A.icategory = D.icategory
        WHERE A.iboard = #{iboard}
    </select>

    <select id="picBoard">
        SELECT iboard,pic
        FROM board_image
        WHERE iboard = #{iboard}
    </select>
    <update id="updBoard">
        update board
        set title = #{title}
        ,ctnt = #{ctnt}
        where iboard =#{iboard} and iuser =#{iuser}
    </update>
    <delete id="delPic">
        DELETE
        FROM board_image
        WHERE iboardpic = #{iboardpic}
    </delete>
    <update id="viewBoard">
        UPDATE board
        SET board_view = board_view+1
        WHERE iboard = #{iboard}
    </update>
    <delete id="delOnePic">
        DELETE FROM board_image
        WHERE iboardpic = #{iboardpic} AND
        iboard IN (SELECT iboard FROM board WHERE iboard = #{iboard})
    </delete>
    <delete id="delBoardPic">
        DELETE
        FROM board_image
        where iboard = #{iboard};
    </delete>
    <select id="selPicName">
        SELECT A.pic
        FROM board_image A
        LEFT JOIN board B
        ON A.iboard = B.iboard
        WHERE A.iboard = #{iboard} AND B.iuser = #{iuser}
    </select>
    <insert id="insCategory">
        INSERT INTO board_category
        SET name = #{name}
    </insert>
</mapper>