<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.campingsmore.item.ItemMapper">

    <insert id="insItem">
        INSERT INTO item
        SET iitem_category = #{iitemCategory},
        name = #{name},
        price = #{price},
        pic = #{pic}
    </insert>

    <insert id="insCate">
        INSERT INTO item_category
        SET name = #{categoryName}
    </insert>




    <select id="searchItem" resultType="ItemVo">
        SELECT iitem, `name`, pic, price, created_at createdAt
        FROM item
        <where>
            <if test = "iitemCategory != null">
                and iitem_category = #{iitemCategory}
            </if>
            <if test = "text != null">
                and `name` LIKE CONCAT('%',#{text},'%')
            </if>
            AND del_yn = 1
        </where>
        <if test = "sort == 0">
            ORDER BY created_at DESC
        </if>
        <if test = "sort == 1">
            ORDER BY created_at
        </if>
        <if test="sort == 2">
            ORDER BY price DESC
        </if>
        <if test="sort == 3">
            ORDER BY price
        </if>
        LIMIT ${startIdx}, ${row}
    </select>


    <select id="selCategory" resultType="ItemSelCateVo">
        SELECT iitem_category iitemCategory, `name`
        FROM item_category
        order BY `name` DESC
    </select>

    <select id="selDetail" resultType="ItemSelDetailVo">
        SELECT  A.iitem,A.`name`, A.pic, A.`name`, A.price, A.created_at createdAt, A.info, GROUP_CONCAT(B.pic) picList
        FROM item A, item_detail_pic B
        WHERE A.iitem = #{iitem}
    </select>




    <insert id="insBestItem">
        INSERT INTO best_item
        SET iitem = #{iitem},
        month_like = #{monthLike}
    </insert>

    <select id="selBestItem" resultType="ItemVo">
        SELECT  A.iitem, A.`name`, A.pic, A.price, A.created_at createdAt
        FROM item A
        INNER JOIN best_item B
        ON A.iitem = B.iitem
        WHERE DATE_format(month_like, "%Y-%m") = DATE_format(NOW(),"%Y-%m")
        ORDER BY iitem;
    </select>





    <select id="selIcate" resultType="Long">
        SELECT iitem_category iitemCategory FROM item_category
        WHERE name = #{categoryName}
    </select>

    <delete id="delDetailPic">
        DELETE FROM item_detail_pic
        WHERE iitem = #{iitem}
    </delete>

    <insert id="insDetailPic">
        INSERT INTO item_detail_pic
        SET iitem = #{iitem},
        pic = #{pic}
    </insert>


</mapper>