<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.campingsmore.item.ItemMapper">

    <!--카테고리 추가-->
    <insert id="insCate">
        INSERT INTO item_category
        SET name = #{categoryName}
    </insert>

    <!-- 카테고리 보기 -->
    <select id="selCategory" resultType="ItemSelCateVo">
        SELECT iitem_category iitemCategory, `name`
        FROM item_category
        order BY `name` DESC
    </select>

    <!-- 카테고리 리스트 -->
    <select id="selIcate" resultType="Long">
        SELECT iitem_category iitemCategory FROM item_category
        WHERE name = #{categoryName}
    </select>

<!--  아이템 추가  -->
    <insert id="insItem" useGeneratedKeys="true" keyProperty="iitem">
        INSERT INTO item
        SET iitem_category = #{iitemCategory},
        name = #{name},
        price = #{price},
        pic = #{pic}
    </insert>
    <select id="selLastItem" resultType="int">
        SELECT count(iitem)
        FROM item
        <where>
            <if test = "iitemCategory != null">
                and iitem_category = #{iitemCategory}
            </if>
            <if test = "text != null">
                and `name` LIKE CONCAT('%',#{text},'%')
            </if>
            AND del_yn = 1
        </where>
    </select>

    <!--아이템 검색 및 검색리스트-->
    <select id="searchItem" resultType="ItemVo">
        SELECT iitem, `name`, pic, price, created_at createdAt,
            <if test= "iuser == 0">
                0 as wish
            </if>
            <if test= "iuser >= 1" >
                IFNULL((SELECT del_yn
                FROM wishlist
                WHERE iitem = A.iitem and iuser = #{iuser}),0) wish
            </if>
        FROM item A
        <where>
            <if test = "iitemCategory != null">
                and iitem_category = #{iitemCategory}
            </if>
            <if test = "text != null">
                and `name` LIKE CONCAT('%',#{text},'%')
            </if>
            AND del_yn = 1
        </where>
        <if test = "sort == 0">
            ORDER BY created_at DESC
        </if>
        <if test = "sort == 1">
            ORDER BY created_at
        </if>
        <if test="sort == 2">
            ORDER BY price DESC
        </if>
        <if test="sort == 3">
            ORDER BY price
        </if>
        LIMIT ${startIdx}, ${row}


    </select>

<!--  아이템 수정  -->
    <update id="updItem">
        UPDATE item
        SET iitem_category = #{iitemCategory},
        name = #{name},
        price = #{price},
        pic = #{pic}
        WHERE iitem = #{iitem}
    </update>

<!--  아이템 삭제  -->
    <update id="delItem">
        UPDATE item
        SET del_yn = 0
        WHERE iitem = #{iitem}
    </update>



<!--  아이템 상세페이지  -->
    <select id="selDetail" resultType="ItemSelDetailVo">
        SELECT  iitem, `name`, pic, price, created_at createdAt, info
        FROM item
        WHERE iitem = #{iitem}
    </select>
    <!--아이템 상세이미지-->
    <select id="selDetailPic" resultType="String">
        SELECT  pic detailPic
        FROM item_detail_pic
        WHERE iitem = #{iitem}
    </select>



    <!-- 아이템 상세페이지 변경 del->ins -->
    <delete id="delDetailPic">
        DELETE FROM item_detail_pic
        WHERE iitem = #{iitem}
    </delete>

    <insert id="insDetailPic">
        INSERT INTO item_detail_pic
        SET iitem = #{iitem},
        pic = #{pic}
    </insert>


<!-- 추천 아이템 추가 -->
    <insert id="insBestItem">
        INSERT INTO best_item
        SET iitem = #{iitem},
        month_like = #{monthLike}
    </insert>

    <!--  추천 아이템 리스트  -->
    <select id="selBestItem" resultType="ItemVo">
        SELECT  A.iitem, A.`name`, A.pic, A.price, A.created_at createdAt
        FROM item A
        INNER JOIN best_item B
        ON A.iitem = B.iitem
        WHERE DATE_format(month_like, "%Y-%m") = DATE_format(NOW(),"%Y-%m")
        ORDER BY iitem;
    </select>


</mapper>